.modal-body{
    padding:35px;
}
.modal-body h2{
    font-size:30px;
    font-family:Nunito;
    font-weight:700;
    text-align:center;
    color:#ffd400;
}
.modal-body article{
    float:left;
    width:100%;
    font-size:16px;
    font-family:Nunito;
    font-weight:600;
    text-align:center;
    margin-top:35px;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
    padding:15px 0;
}
button.cancel{
    margin-right:5px;
}   