.Cart {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #eeeeee;
  position: relative;
  border: 2px solid transparent;
}
.Cart:hover {
  cursor: pointer;
  border: 2px solid #ffd400;
}
.Cart .icon {
  float: left;
  width: auto;
  height: 24px;
  position: absolute;
  top: 12px;
  left: 12px;
  color: yellow;
}
.Cart .badge {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-color: #ffd400;
  color: white;
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  line-height: 16px;
}
